################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EntornVGI
x64/Debug/
/EntornVGI
/EntornVGI/x64/Debug